#ignore cached info
__pycache__/
.vscode/
#ignore config
config.ini
#ignore database
db.db
#ignores all logs
*.log
#ignore sample file in sample

#ignore models except for the default one
*.json
!default.json
!config.json