#ignore cached info
__pycache__/
.vscode/

#ignore config
config.json

#ignore database
db.db

#ignores all logs
*.log

#ignore models, except for Machado
*.json
!*/Machado.json

#ignore the setup, for now
setup.py

#ignore samples except for Machado (it's public domain)
*.txt
!*/Machado.txt